
.App {
  background-color:#303030;
}
.nav-bar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  max-width:950px;
  width:100%;
  margin:auto;
}
.nav-links{
  color:white;
  text-decoration:none;
}

.iPad-nav{
  background-color:#FAFAFA;
  display:flex;
  justify-content:center;
}
.iPad-column{
  display:flex;
  flex-direction:column;
  font-size:10px;
  text-align:center;
  text-decoration:none;
  color:black;
  margin:0px 20px;
}
.iPads{
  height:45px;
  margin-top:10px;
  margin-bottom:5px;
}